@use "_mixin";
@use "_variable";

// レイアウト
.ly_header{
    width: 100%;
    height: 65px;
    background: variable.$bg-base;
    padding: 24px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}
@include mixin.breakpoint("pc"){
    .ly_header{
        height: 100px;
        padding: 38px 0;
    }
}

// ブロックモジュール
.bl_header_inner{
    width: 90%;
    margin: 0 auto;
    max-width: 1500px;
}
.bl_header_logoWrapper{
    display: block;
    img{
        width: 100%;
    }
}
@include mixin.breakpoint("pc"){
    .bl_header_inner{
        width: 80%;
    }
}

// spヘッダー
.bl_header_sp{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
// ハンバーガーメニュー
.bl_header_sp_hamburger_menu_bg{
    width: 80vw;
    height: 100vh;
    background: variable.$bg-white-opa70;
    backdrop-filter: blur(3px);
    position: absolute;
    top: 0;
    right: -100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s;
    z-index: -1;
}
@include mixin.breakpoint("tab"){
    .bl_header_sp_hamburger_menu_bg{
        width: 50vw;
    }
}
// ハンバーガーボタン
.bl_header_sp_hamburger_btn{
    .bl_header_sp_hamburger_btn_line,
    .bl_header_sp_hamburger_btn_line2{
        display: block;
        width: 30px;
        height: 1px;
        background: variable.$border-grey;
        transition: all 0.3s;
    }
    .bl_header_sp_hamburger_btn_line2{
        margin-top: 8px;
    }
}
.bl_header_sp_hamburger_btn_line{
    animation: hamburger 0.5s forwards;
}
@keyframes hamburger{
    0%{
        transform: translateY(5px)  rotate(45deg);
    }
    50%{
        transform: translateY(4px) rotate(0);
    }
    75%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(-8px);
    }
}
.bl_header_sp_hamburger_btn_line2{
    animation: hamburger2 0.5s forwards;
}
@keyframes hamburger2{
    0%{
        transform: translateY(-4px) rotate(-45deg);
    }
    50%{
        transform: translateY(-4px);
    }
    75%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(0);
    }
}
// ナビゲーションメニュー
.bl_header_sp_hamburger_menu_body{
    padding: 80px 30px;

    .bl_header_sp_hamburger_menu{
        .bl_header_sp_hamburger_menu_list{
            font-size: 22px;
            font-family: variable.$font-family-en;
            color: variable.$font-color-black;
        }
    }
}
.bl_header_sp_hamburger_menu_list_line{
    display: block;
    width: 100%;
    height: 0.5px;
    background: variable.$bg-black;
    margin: 5px 0 20px 0;
}
// アクティブ時のアニメーション
.is-active .bl_header_sp_hamburger_menu_bg{
    right: 0;
    opacity: 1;
    visibility: visible;
}
.is-active .bl_header_sp_hamburger_btn_line,
.is-active .bl_header_sp_hamburger_btn_line2{
    background: variable.$border-black;
}
.is-active .bl_header_sp_hamburger_btn span:nth-of-type(1){
    animation: hamburger-active1 0.8s forwards;
}
.is-active .bl_header_sp_hamburger_btn span:nth-of-type(2){
    animation: hamburger-active2 0.8s forwards;
}
@keyframes hamburger-active1{
    0%{
        transform: translateX(-8px);
    }
    25%{
        transform: translateX(0px);
    }
    50%{
        transform: translateY(4px);
    }
    100%{
        transform: translateY(5px)  rotate(45deg);
    }
}
@keyframes hamburger-active2{
    0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-4px);
    }
    100%{
        transform: translateY(-4px) rotate(-45deg);
    }
}
@include mixin.breakpoint("pc"){
    .bl_header_sp{
        display: none;
    }
}

// パソコンヘッダー
.bl_header_pc{
    display: none;
}
@include mixin.breakpoint("pc"){
    .bl_header_pc{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .bl_header_pc_nav_list{
        display: flex;
        gap: 40px;
        align-items: center;
    }
    .bl_header_pc_nav_list_item{
        transition: all 0.3s;
    }
    .bl_header_pc_nav_list_item:hover{
        opacity: 0.7;
    }
}