$bg-base: #0f0f0f;
$bg-base-light: #1a1a1a;
$bg-black: #000;
$bg-white: #fff;
$bg-white-opa70: rgba(255,255,255,0.7);
$border-white: #fff;
$border-grey: #d0d0d0;
$border-black: #000;
$font-color-white: #fff;
$font-color-base: #d0d0d0;
$font-color-red: #d94747;
$font-color-black: #000;
$font-family-jp: "Noto Serif JP";
$font-family-en: "Lora";